.container {
    display: flex;
    background-color: #cdf6eb;
    margin: 10px auto 30px;
    max-width: 400px;
    font-family: sans-serif;
}

.stretch {
    align-items: stretch;
}

.flex-start {
    align-items: flex-start;
}

.flex-end {
    align-items: flex-end;
}

.center {
    align-items: center;
}

.baseline {
    align-items: baseline;
}

.container .fonte-1 {
    font-size: 0.6em;
}

.container .fonte-2 {
    font-size: 1.2em;
}

.container .fonte-3 {
    font-size: 0.8em;
}

.container div {
    background: #028082;
    margin: 8px 4px;
    width: 80px;
    font-size: 1em;
}